<%- include ("./partials/head") %>
    <a href="/">back</a>
    <h1>Nerdy T-Shirt</h1>

    <section>
        <h2>Orders</h2>
        <p>You don't have any orders yet</p>
    </section>
    <%- include ("./partials/footer") %>