<%- include ("./partials/head") %>
    <h1>Nerdy T-Shirts</h1>

    <section>
        <h2>Overview T-Shirts</h2>
        <article><a href="/design">Design a new one</a></article>
        <article>
            <a href="/"></a>
        </article>
    </section>

    <section>
        <h2>Shopping cart</h2>
        <p>You're shopping cart is empty</p>
        <a href="/order">Order your T-Shirt(s)</a>
    </section>
    <%- include ("./partials/footer") %>