<%- include ("./partials/head") %>

    <div class="container">
        <div class="bgArea">
            <h1>Thank you for your order.</h1>
            <h2>Your order has been places and is being processed. You will receive an email with the order details.</h2>
        </div>
        <div class="loginArea">
            <h1>This website is made with ❤️.</h1>
            <h2>© Sergio Eijben, 2021</h2>
        </div>
    </div>

    <!-- <script src="/js/renderShirt.js"></script> -->
    <script src="/js/renderData.js"></script>
    <!-- <script src="/js/liveName.js"></script> -->

    <%- include ("./partials/footer") %>