@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
body {
    padding: 0;
    margin: 0;
    background-color: #9646D4;
}

a {
    text-decoration: none;
}

div.container {
    font-family: 'Oswald', sans-serif;
}

div.bgArea {
    grid-area: bgArea;
    text-align: center;
    background-repeat: no-repeat;
    background-image: url('../img/cake-pattern.png');
    background-repeat: repeat;
    background-size: 64px 64px;
}

div.bgArea h1,
div.loginArea h1 {
    margin: 0;
    color: #9646D4;
    font-size: 2rem;
    border-radius: 0;
}

.progForm {
    border-radius: 0;
}

div.loginArea img {
    width: 10rem;
    margin: auto;
    display: block;
}

div.loginArea {
    grid-area: loginArea;
    /* margin: 2rem 2rem 0 2rem; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: auto;
    background-color: #9646D4;
}

div.loginArea input {
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    padding: 1.3rem;
    width: 100%;
    border-radius: 0.5rem;
}

div.loginArea input:focus {
    border: 1px solid #9646D4;
    outline: none;
}

div.loginArea label {
    padding: 0.6rem 0;
}

div.loginArea input,
div.loginArea label {
    display: block;
}

div.bgArea button,
div.loginArea button {
    width: 49%;
    background-color: #9646D4;
    border: none;
    color: #FFFFFF;
    margin-top: 1rem;
    font-size: 1.3rem;
    padding: 1.3rem;
    border-radius: 0.5rem;
}

span.rememberMe {
    margin-left: 2rem;
}

div.formpjes a label {
    cursor: pointer;
    color: #00A8FF;
    font-weight: 700;
}

a.forgotPw label {
    cursor: pointer;
    color: darkgray;
    text-decoration: underline;
}

@media only screen and (min-width: 1450px) {
    div.container {
        font-family: 'Oswald', sans-serif;
        display: grid;
        height: 100%;
        grid-template-columns: [bgArea] 70% [loginArea] 30%;
        /* grid-template-columns: [bgArea] 70vw [loginArea] 30vw; */
    }
    div.bgArea h1,
    div.loginArea h1 {
        color: #9646D4;
        font-size: 2.6rem;
    }
    /* Background Area */
    div.bgArea {
        grid-area: bgArea;
        text-align: center;
        height: 100vh;
        background-repeat: no-repeat;
        background-image: url('../img/cake-pattern.png');
        background-repeat: repeat;
        background-size: 64px 64px;
    }
    /* --------------- */
    /* Login Area */
    div.loginArea {
        overflow: auto;
        height: 89.9vh;
        grid-area: loginArea;
        background-color: #9646D4;
        padding: 3rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    div.loginArea input {
        box-sizing: border-box;
        border: 1px solid #CCCCCC;
        padding: 1.3rem;
        width: 100%;
        border-radius: 0.5rem;
        font-size: 1rem;
    }
    #subBtn {
        width: 60%;
        margin: 0 auto;
    }
    div.loginArea label {
        padding: 0.6rem 0.6rem;
    }
    div.loginArea input,
    div.loginArea label {
        display: block;
    }
    a.formBtn {
        width: 40%;
        background-color: #9646D4;
        color: #FFFFFF;
        padding: 0.8rem;
        border-radius: 1.5rem;
        border: 2px solid #9646D4;
        -webkit-transition: background-color 0.1s ease-out;
        -moz-transition: background-color 0.1s ease-out;
        -o-transition: background-color 0.1s ease-out;
        transition: background-color 0.1s ease-out;
    }
    a.formBtn:hover {
        /* background-color: #AD8EC5; */
        background-color: white;
        border: 2px solid #9646D4;
        color: #9646D4;
    }
    a.formBtn:active {
        background-color: #9646D4;
        color: white;
    }
    .buttons {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .droptargetEdit {
        width: 240px;
        height: 100px;
        padding: 10px;
        color: white;
        word-wrap: break-word;
        /* border: 1px solid pink; */
    }
    .droptargetEdit p {
        font-size: 1.6rem;
    }
    .pieces {
        border: 5px solid #9646D4;
        border-radius: 1.5rem;
        margin: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        flex-direction: column;
    }
    .cartItems {
        border: 2px solid white;
        padding: 0.6rem;
        border-radius: 1.5rem;
        display: grid;
        grid-template-columns: 25% 70% 5%;
    }
    .cartItemsOrder {
        border: 2px solid white;
        padding: 0.6rem;
        border-radius: 1.5rem;
        display: grid;
        grid-template-columns: 15% 80% 5%;
    }
    .cartItem:nth-child(2) {
        justify-content: start;
    }
    .bgArea .cartPieces {
        margin: 5rem;
    }
}


/* Customize the label (the container) */

label.container {
    display: block;
    justify-content: start;
    position: relative;
    cursor: pointer;
    width: 63%;
}

div.rememberMe {
    margin: 1rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
}

label.container>span.text {
    margin-left: 3rem;
}

div.loginArea span.checkmark {
    border-radius: 0.5rem;
    position: absolute;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #CCCCCC;
}

fieldset {
    border: 2px solid #9646D4;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
}

legend {
    background-color: #9646D4;
    border-radius: 1.5rem;
    color: white;
}

input {
    margin: 5px 0;
}

.sofa {
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

#demo {
    position: absolute;
    margin-top: -6rem;
    max-height: 5rem;
    background-color: white;
    padding: 2px;
    max-width: 4rem;
    word-break: break-all;
    white-space: normal;
}

.css-colors {
    display: initial;
}


/* DRAG AND DROP */

.droptarget {
    width: 120px;
    height: 45px;
    padding: 10px;
    color: white;
    word-wrap: break-word;
}

@media only screen and (max-width: 1450px) {
    .droptargetEdit {
        width: 160px;
        height: 69px;
        padding: 10px;
        color: white;
        word-wrap: break-word;
        /* border: 1px solid pink; */
    }
    .droptargetEdit p {
        font-size: 1.4rem;
    }
    .pieces {
        border: 5px solid #9646D4;
        border-radius: 1.5rem;
        margin: 5px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-direction: column;
    }
    .cartPieces {
        margin: 1rem;
    }
    a.formBtn {
        width: 40%;
        background-color: #9646D4;
        color: #FFFFFF;
        padding: 0.8rem;
        border-radius: 1.5rem;
        border: 2px solid #9646D4;
        -webkit-transition: background-color 0.1s ease-out;
        -moz-transition: background-color 0.1s ease-out;
        -o-transition: background-color 0.1s ease-out;
        transition: background-color 0.1s ease-out;
    }
    a.formBtn:hover {
        /* background-color: #AD8EC5; */
        background-color: white;
        border: 2px solid #9646D4;
        color: #9646D4;
    }
    a.formBtn:active {
        background-color: #9646D4;
        color: white;
    }
    .cartItems {
        border: 2px solid white;
        padding: 0.6rem;
        border-radius: 1.5rem;
        display: grid;
        grid-template-columns: 30% 65% 5%;
    }
    .bgArea .cartPieces {
        margin: 10px;
    }
    .cartItems svg {
        width: 75px;
        height: 75px;
    }
}

.droptarget p {
    margin-top: 0;
    text-shadow: 0px 0px 3px black;
}

.droptarget:nth-of-type(3) p {
    margin-top: 20px;
}

.droptargetEdit:nth-of-type(1) p {
    margin-top: -15px;
}

.droptargetEdit:nth-of-type(3) p {
    margin-top: 80px;
}

.dropzone {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.overviewPieces {
    display: flex;
    justify-content: center;
    height: 30rem;
}

ul {
    text-align: left;
}

.prog-form {
    background: red;
}

#addToCart {
    border: 2px solid green;
}

a.orderBtn {
    width: 97%;
    background-color: #FFFFFF;
    color: #9646D4;
    padding: 0.8rem 0 0.8rem 0.8rem;
    border-radius: 1.5rem;
    border: 2px solid #9646D4;
    -webkit-transition: background-color 0.1s ease-out;
    -moz-transition: background-color 0.1s ease-out;
    -o-transition: background-color 0.1s ease-out;
    transition: background-color 0.1s ease-out;
}

a.orderBtn:hover {
    /* background-color: #AD8EC5; */
    background-color: #9646D4;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

#subBtn {
    width: 97%;
    background-color: #FFFFFF;
    color: #9646D4;
    padding: 0.8rem 0 0.8rem 0.8rem;
    border-radius: 1.5rem;
    border: 2px solid #9646D4;
    -webkit-transition: background-color 0.1s ease-out;
    -moz-transition: background-color 0.1s ease-out;
    -o-transition: background-color 0.1s ease-out;
    transition: background-color 0.1s ease-out;
}

#subBtn:hover {
    /* background-color: #AD8EC5; */
    background-color: #9646D4;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

a.orderBtn:active {
    background-color: #9646D4;
    color: white;
}

.buttonItem {
    margin-top: 1rem;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
}

.cartItems:nth-of-type(2) {
    border-radius: 1.5rem;
    grid-template-columns: 1fr;
    margin: 1.6rem 0 0 0;
}

.cartItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartItem:nth-child(2) {
    top: 0;
    padding: 0;
}

.deleteBtn {
    border-radius: 1.5rem;
    width: 100%;
    height: 100%;
    background-color: red;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deleteBtn:hover {
    background-color: rgba(255, 0, 0, 0.274);
    border: 2px solid red;
}

ul {
    list-style-type: none;
    padding: 0;
}


/* PROGRESSIVE DESIGN FORM */

.progForm {
    background-color: #ffffff;
    margin: 60px auto;
    padding: 40px;
    min-width: 300px;
}

.loginArea h1 {
    text-align: center;
    background: white;
    padding: 1rem;
    border-radius: 4px;
}

.progForm input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
}


/* Mark input boxes that gets an error on validation: */

.progForm input.invalid {
    background-color: #ffdddd;
}


/* Hide all steps by default: */

.progForm .tab {
    display: none;
}

.progForm button {
    background-color: #9646D4;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 4px;
    cursor: pointer;
}

.progForm button:hover {
    opacity: 0.8;
}

.progForm #prevBtn {
    background-color: #bbbbbb;
}


/* Make circles that indicate the steps of the form: */

.progForm .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.progForm .step.active {
    opacity: 1;
    background-color: #9646D4;
}


/* Mark the steps that are finished and valid: */

.progForm .step.finish {
    background-color: #9646D4;
}

#stepButtons {
    display: none;
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    margin: 1rem 0;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.radio-toolbar input[type="radio"]:checked+label {
    background-color: #CBA3EA;
    border-color: #9646D4;
}

.radio-toolbar label:hover {
    background-color: #dfd;
}

.radio-toolbar input[type="radio"]:checked~.sofa svg {
    fill: white;
}