* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #5F6CDE;
}

#white:checked~.sofa svg {
    fill: white;
}

#black:checked~.sofa svg {
    fill: black;
}

#red:checked~.sofa svg {
    fill: red;
}

#green:checked~.sofa svg {
    fill: green;
}

#blue:checked~.sofa svg {
    fill: blue;
}

#pink:checked~.sofa svg {
    fill: pink;
}